.App {
  text-align: center;
}
.login_img {
  width: 22%;
}
.drawer {
  padding: 50px;
  padding-right: 150px;
}
.jss1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#button_1 {
  background-color: #fc8019;
  padding: 10px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0%;
}