body {
  font-family: Arial, Helvetica, sans-serif;
  
    color: #282c3f;
}

/* .App {
  text-align: center;
} */
.login_img {
  margin-top: 40px;
  width: 100px;
}
.drawer {
  padding: 50px;
  padding-right: 150px;
}
.jss1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#button_1 {
  background-color: #fc8019;
  padding: 10px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0%;
}
.flex_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
.p1 {
  font-weight: 500;
  padding: 0%;
  margin: 0%;
  font-size: 30px;
}
.p2 {
  margin: 0%;
  margin-top: 10px;
  font-size: 15px;
}
.jssp1 {
  width: 150px;
}
.create_account {
      font-weight: 500;
    cursor: pointer;
    color: #fc8019;
}
.clearicon {
      color: #535665;
    cursor: pointer;
    font-weight: 600;
  margin-bottom: 10px;
}
.textfield {
      border: 1px solid #d4d5d9!important;
  padding: 10px;
  padding-bottom: 0%;
}
.textfield1 {
  border: none;
}
.p3 {
  margin: 0%;
  font-size: 12px;
  color: #686b78;
  margin-top: 6px;
  font-weight: 500;
  margin-top: -20px;
}
.terms {
  color: #282c3f;
  text-decoration: none;
}
.login {
  margin-bottom: 0%;
}
.main {
      padding-top: 33px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
        position: relative;
    background: #37718e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.js1 {
      color: #fff;
    margin-bottom: 37px;
    margin-top: 37px;
    position: relative;
}
.jsh1 {
  margin: 0;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.jsp1 {
      margin-top: 2px;
    font-size: 16px;
}
.body_help {
  position: relative;
      padding: 0 20px;
    background: #37718e;
    min-height: 100vh;
}
.js3 {
      max-width: 1200px;
    min-width: 1000px;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    contain: layout;
    align-items: center;
    /* padding-left: 20px; */
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
.js31 {
  display: flex;
}
.js31left {
      min-width: 260px;
    background: #edf1f7;
/* 
    position: sticky;
    top: 14rem; */
}
.js31right {
      flex: 1;
    background: #fff;
    padding: 37px 0 0 50px;
    position: relative;
}
.jss31ul {
      padding: 20px 0;
    position: sticky;
    top: 0rem;
    position: -webkit-sticky;
    top: 80px;
}
.js31li {
      padding: 25px 20px;
    margin-left: 20px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /* text-decoration: none; */
}
.js31span {
      margin-left: 40px;
    font-size: 16px;
    color: #535665;
    font-weight: 500;
}
.signup {
  margin-left: 20px;
}
.dummy {
  height: auto;
}
.buttonuser1 {
  background-color: transparent;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 150px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1ch;
  padding: 15px;
  text-decoration-color: #d4d5d9;
  border: 1px solid #d4d5d9;
}
.alert {
  font-size: 10px;
  color: red;
  margin-top: -25px;
}
a {
  text-decoration: none;
}
.jsa {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 30px;
}
.jsaright img {
  max-width: 370px;
}
.jsaleft {
  column-gap: 50px;
}
.jsb {
  text-align: center;
}
.jsbp1 {
  font-size: 20px;
    color: #535665;
    font-weight: 500;
    margin-top: 32px;
}
.jsbp2 {
      font-size: 11px;
    color: #7e808c;
    margin-top: 8px;
    letter-spacing: 0.1ch;
}
.jsah2 {
  font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #282c3f;
}
.jsap1 {
      margin: 20px 0;
    font-size: 16px;
    line-height: 42px;
    color: #686b78;
    position: relative;
    z-index: 1;
}
.stores img {
  padding: 10px;
}
.jsca {
  display: flex;
  flex-direction: row;
}
.jsca p {
  padding: 0%;
  margin: 0%;
  margin-top: 3px;
  margin-left: 10px;
  color: black;
  font-weight: 700;
}
.jscbp {
  margin: 0%;
      font-size: 20px;
    font-weight: 400;
    margin-bottom: 19px;
}
.jscbap {
  font-size: 15px;
    color: #686b78;
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jscba {
  display: flex;
  margin: 0%;
  justify-content: space-between;
}
.jscba p {
  margin: 0%;
}
.flex2 {
  display: flex;
  flex-direction: column;
}
.jscred {
  color: #fc8019;
    font-weight: 560;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
    letter-spacing: -.3px;
    /* position: absolute; */
    right: 0;
    bottom: 31px;
}
.jscb {
    margin-top: 20px;
    border-bottom: 1px solid #d4d5d9;
    margin-bottom: 5px;
    padding-bottom: 30px;
}
#dots1 {
  font-size: 70px;
    line-height: 0;
    overflow: visible;    
    color: #686b78;
}
.dat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.querya {
    border-bottom: 1px solid #d4d5d9;
      padding: 22px 0 26px;
    cursor: pointer;
    color: #3d4152;
    width: 100%;
    text-align: left;
}
.querya p {
  margin: 0%;
}
.paragraph {
      color: #686b78;
    font-size: 13px;
    padding-right: 50px;
    padding-bottom: 27px;
    line-height: 1.4;
    max-width: 700px;
    margin-top: -4px;
    white-space: pre-wrap;
    padding-top: 13px;
}
.querya:hover {
    color: #fc8019;
}
.alerta {
  
  font-size: 9px;
  color: red;
  margin-top: 3px;
  margin-left: 4px;
}
.jsdred {
  padding: 9px;
  border: 1px solid;
  width: 120px;
}
.jsbp7 {
  font-size: 13px;
}
.payments {
    font-size: 24px;
    font-weight: 600;
  }
  .jse1a {
        padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #d4d5d9;
    color: #686b78;
    font-size: 14px;
    width: 100%;
  }
  .jse1b {
        padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #d4d5d9;
    color: #686b78;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }
  .jse11 {
        font-size: 16px;
    font-weight: 600;
    color: #282c3f;
    margin-right: 16px;
    margin-top: 2%;
    /* vertical-align: middle; */
  }
  .jse13 {
        flex: 0 0 1px;
    margin: 0 16px;
    width: 1px;
    height: 60px;
    border-right: 1px solid #d4d5d9;
  }
  .jse14 {
    color: #686b78;
    margin-top: 1%;
    font-size: 14px;
    width: 50%;
  }
  .read_more {
    color: #fc8019;
    font-size: 14px;
    font-weight: 700;
    margin: 12px;
  }
  .signInA img  {
    width: 10px;
    height: 10px;
  }